@using TatilBlogum.Models.Sınıflar
@model List<Blog>



<div class="padding">
    <h4>En Popüler 10 Gezimiz</h4>

    @{int i = 0; } <!-- Top 10 yazımızın numaraları veritabanındaki IDlerinden dolayı düzgün gelmiyordu.
                       Bu durumu düzeltmek için yapılan işlem.-->
    <ul class="list list-pad">
        @foreach (var x in Model)
        {
        <li class="list-bg"><span> @{i++;
        } @i.</span><a href="/Blog/BlogDetay/@x.ID">@x.Baslik</a></li>
        }
    </ul>
    <a href="/Blog/Index/" class="link1">Tüm Blogları Gör</a>
</div>
